<div class="container-fluid">
  <p class="h3 p-3">Detalles de la cotización</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>Seguro: </dt>
        <dt>{{quotationDetail.insurance.name}}</dt>
        <dt>Condiciones: </dt>
        <dt>{{quotationDetail.insurance.conditions}}</dt>
        <dt>Features: </dt>
        <dt>{{quotationDetail.insurance.features}}</dt>
        <dt>Precio: </dt>
        <dt>{{quotationDetail.insurance.price}}</dt>
      </dl>
    </div>
  </div>
</div>
