<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card my-5">
        <div class="card-header p-3">
          <p class="h2 text-center">Salidas</p>
        </div>
        <div class="card-body">
          <div class="table-responsive-sm">
            <table class="table text-center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Lugar</th>
                  <th scope="col">Costo de participación</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of outings" (click)="onSelected(b)">
                  <td>{{ b.name }}</td>
                  <td>{{ b.date }}</td>
                  <td>{{ b.place }}</td>
                  <td>{{ b.participationCost }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div *ngIf="selected">
        <app-outing-detail [outingDetail]="selectedOuting"></app-outing-detail>
      </div>
      <div *ngIf="!selected">
        <div class="card m-5">
          <div class="card-body m-3">
            <p>Da clic a una salida para conocer más información</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-dark" (click)="crearOuting()">Crear salida</button>
    </div>
  </div>
</div>
