<div class="container-fluid">
  <div class="row p-5">
    <div *ngIf="selected">
      <app-itinerary-detail [itineraryDetail]="selectedItinerary"></app-itinerary-detail>
    </div>
      <div class="card" style="width: 18rem;" *ngFor="let b of itineraries">
        <div class="card-body">
          <figure class="figure">
            <p class="h3 p-3 text-danger">Id: {{b.id}}</p>
            <p class="h3 p-3">Hospedaje: {{b.lodging}}</p>
            <p class="h3 p-3">Transporte: {{b.transportation}}</p>
            <th><button (click)="onSelected(b)">Ver Detalle</button></th>
          </figure>
        </div>
      </div>
  </div>
  <app-itinerary-create></app-itinerary-create>
</div>
