<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Natural Persons</p>
    </div>
    <div class="m-3">
      <div class="m-5">
        <app-natural-person-create></app-natural-person-create>

        <table class="table resposive table-bordered text-center mt-5">
          <thead>
            <tr>
              <th scope="col">ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of naturalPersons">
              <td>{{ p.id }}</td>
              <td><button class="btn btn-dark" (click)="onSelected(p)">Ver Detalle</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-body m-3">
        <div *ngIf="selected">
          <app-natural-person-detail [naturalPersonDetail]="selectedNaturalPerson"></app-natural-person-detail>
        </div>
      </div>
    </div>
  </div>
</div>
