<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Natural Persons</p>
    </div>
    <div class="card-body m-3">
      <table class="table resposive table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">ID</th>
          <th scope="col">Tipo de ID</th>
          <th scope="col">Dirección</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of naturalPersons">
          <td>{{ p.person.name }}</td>
          <td>{{ p.person.idNumber }}</td>
          <td>{{ p.person.idType }}</td>
          <td>{{ p.person.address }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

