<div class="container-fluid">
    <form
      [formGroup]="form"
      (ngSubmit)="!form.invalid && createComment(form.value)"
    >
        <input
          id="text"
          class="form-control"
          formControlName="text"
          placeholder="Your comment"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            form.get('text').hasError('maxlength') &&
            form.get('text').touched
          "
        >
          el comentario solo puede tener maximo 1000 caracteres
        </div>
    </form>
</div>
