<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Administradores</p>
    </div>
    <div class="card-body m-3">
      <table class="table responsive table-bordered text-center">
        <caption>Admins</caption>
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Usuario</th>
          <th scope="col">Mail</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of admins">
          <td><a routerLink="/admins/{{u.id}}">{{ u.id }}</a></td>
          <td>{{ u.user }}</td>
          <td>{{u.mail}}</td>
          <td><button (click)="onSelected(u)">Ver Detalle</button></td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="selected">
        <app-admin-detail [adminDetail]="selectedAdmin"></app-admin-detail>
      </div>
    </div>
  </div>
</div>
