<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Calendars</p>
    </div>
    <div class="card-body m-3">
      <table class="table resposive table-bordered text-center">
        <thead>
        <tr *ngFor="let b of calendars">
          <button (click)="selectHistory(b)">Ver Historial</button>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div *ngIf="selected">
        <app-calendar-detail [calendarDetail]="selectedCalendar"></app-calendar-detail>
      </div>
    </div>
  </div>
</div>
