<div class="container-fluid">
  <p class="h3 p-3">Detalles de esta Ruta:</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>Outing: </dt>
          <dt>NombreOuting:</dt> <dd>{{routeDetail.outing.name}}</dd>
          <dt>FechaOuting:</dt> <dd>{{routeDetail.outing.date}}</dd>
          <dt>LugarOuting:</dt> <dd>{{routeDetail.outing.place}}</dd>
          <dt>CostoOuting:</dt> <dd>{{routeDetail.outing.participationCost}}</dd>
        <dt>Medias</dt>

        <dt>Reviews</dt>
        <dd *ngFor = "let a of routeDetail.reviews">
          {{a.comment}}
          {{a.score}}
          {{a.route}}
        </dd>
        <dt>Reviews</dt>
        <dd *ngFor = "let a of routeDetail.reviews">
          {{a.comment}}
          {{a.score}}
        </dd>
        <dt>Locations</dt>
        <dd *ngFor = "let a of routeDetail.locations">
          {{a.locationName}}
          {{a.latitude}}
          {{a.longitude}}
        </dd>
      </dl>
    </div>
  </div>
  <app-review-create [routeDetail]="routeDetail"></app-review-create>
</div>
