<div class="container-fluid">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">text</th>
      <th scope="col">score</th>
      <th scope="col">likes</th>
      <th scope="col">dislikes</th>
    </tr>
    </thead>
    <tbody *ngFor="let b of reviews">
    <tr >
      <td id = "t">{{b.comment.text}}</td>
      <td id = "s">{{b.score}}</td>
      <td id = "l">{{b.comment.likes}}</td>
      <td id = "dl">{{b.comment.dislikes}}</td>
    </tr>
    </tbody>
  </table>
</div>
