<div class="container-fluid">
  <div class="col-4 p-3">
    <div class="h4" i18n>Customer Creation</div>
    <form
      [formGroup]="form"
      (ngSubmit)="!form.invalid && createBlog(form.value)"
    >
      <div class="row m-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!form.valid"
        >
          Create
        </button>
        <button
          type="button"
          class="btn btn-danger ml-3"
          (click)="cancelCreation()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
