<div class="container-fluid">
  <p class="h3 p-3">Detalles de la persona</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>ID: </dt>
        <dd>{{personDetail.id}}</dd>
        <dt>Nombre: </dt>
        <dd>{{personDetail.name}}</dd>
        <dt>Tipo de documento: </dt>
        <dd>{{personDetail.idType}}</dd>
        <dt>Número de documento: </dt>
        <dd>{{personDetail.idNumber}}</dd>
        <dt>Dirección: </dt>
        <dd>{{personDetail.address}}</dd>
      </dl>
    </div>
  </div>
</div>
