<div class="container-fluid">
  <div class="card m-1 mt-3 m-md-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Multimedias</p>
    </div>
    <div class="m-3">
      <div class="m-md-5">
        <app-multimedia-create></app-multimedia-create>


        <div class="m-3">
          <div *ngIf="selected">
            <app-multimedia-detail [multimediaDetail]="selectedMultimedia"></app-multimedia-detail>
          </div>

          <table class="table responsive table-bordered text-center mt-5">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of multimedias">
                <td>{{ m.id }}</td>
                <td style="word-break: break-all;">{{ m.fileName }}</td>
                <td><button class="btn btn-dark" (click)="onSelected(m)">Ver Detalle</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
