<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Transactions</p>
    </div>
    <div class="card-body m-3">
      <app-transaction-create></app-transaction-create>>
      <table class="table resposive table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tipo de pago</th>
          <th scope="col">Valor</th>
          <th scope="col">Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of transactions">
          <td>{{ t.id }}</td>
          <td>{{ t.payment }}</td>
          <td>{{ t.value }}</td>
          <td>{{ t.creationDate }}</td>
          <td><button class="btn btn-dark" (click)="onSelected(t)">Ver Detalle</button></td>
        </tr>
        </tbody>
      </table>
      <div class="card-body m-3">
        <div *ngIf="selected">
          <app-transaction-detail [transactionDetail]="selectedTransaction"></app-transaction-detail>
        </div>
      </div>
    </div>
  </div>
</div>
