<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-quotation-create></app-quotation-create>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<button (click)="createQuotation()">Crear cotizaciones</button>
<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Cotizaciones</p>
    </div>
    <div class="card-body m-3">
      <table class="table resposive table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Participantes</th>
          <th scope="col">Costo total</th>
          <th scope="col">Estado de cotización</th>
          <th scope="col">Salida</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let b of quotations">
          <td>{{ b.id }}</td>
          <td id="p">{{ b.participants }}</td>
          <td id="tc">{{ b.totalCost }}</td>
          <td id="s">{{ b.status }}</td>
          <td id="o">{{ b.outing }}</td>
          <td><button (click)="onSelected(b)">Ver Detalle</button></td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="selected">
        <app-quotation-detail [quotationDetail]="selectedQuotation"></app-quotation-detail>
      </div>
    </div>
  </div>
</div>
