<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Posts</p>
    </div>
    <div class="card-body m-3">
      <app-post-create></app-post-create>
      <table class="table resposive table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of posts">
          <td>{{ p.id }}</td>
          <td>{{ p.ratings }}</td>
          <td><button class="btn btn-dark" (click)="onSelected(p)">Ver Detalle</button></td>
        </tr>
        </tbody>
      </table>
      <div class = "card-body m-3">
        <div *ngIf="selected">
          <app-post-detail [postDetail]="selectedPost"></app-post-detail>
        </div>
    </div>
  </div>
</div>
