<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Blogs</p>
    </div>
    <div class="card-body m-3">
      <table class="table resposive table-bordered text-center">
        <caption>Blogs</caption>
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col"># posts</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of blogs">
          <td> <a routerLink="/blogs/{{u.id}}">{{u.id}}</a></td>
          <td>{{u.posts.length}} </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="selected">
        <app-blog-detail [blogDetail]="selectedBlog"></app-blog-detail>
      </div>
    </div>
  </div>
</div>
