<div class="container-fluid">
  <div class="card m-5">
    <div class="card-header p-3">
      <p class="h2 text-center">Routes</p>
    </div>
    <div class="card-body m-3">
      <table class="table resposive table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Route Name</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Estimated Duration</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b of routes">
            <td>{{b.routeName}}</td>
            <td>{{ b.difficulty }}</td>
            <td>{{ b.estimatedDuration }}</td>
            <th><button (click)="onSelected(b)">Ver Detalle</button></th>
          </tr>
        </tbody>
      </table>
      <div *ngIf="selected">
        <app-route-detail [routeDetail]="selectedRoute"></app-route-detail>
      </div>
    </div>
  </div>
  <app-route-create></app-route-create>
</div>
