<div *ngIf="selected">
  <app-complementaryinformation-detail [complementaryInformationDetail]="selectedCI"></app-complementaryinformation-detail>
</div>
<div class="container-fluid">
  <div class="row p-5">
      <div class="card" style="width: 18rem;" *ngFor="let b of complementaryinformations">
        <div *ngIf="b.homeImage!=undefined">
          <div class="card-body">
            <figure class="figure">
              <th><img class="img-fluid" src= {{b.homeImage.fileName}}/></th>
              <figcaption class="title-caption text-center">{{b.name}}</figcaption>
              <p class="h3 p-3 text-secondary">{{b.description}}</p>
              <p class="h3 p-3 text-danger">{{b.recommendation}}</p>
              <th><button (click)="onSelected(b)">Ver Detalle</button></th>
            </figure>
          </div>
        </div>
        <div *ngIf="b.homeImage==undefined">
          <div class="card-body">
            <figure class="figure">
              <th><img class="img-fluid" src= 'https://lh3.googleusercontent.com/proxy/4CuylgQzQAUTsdRv7FIQqBOAw2b91R_u6DBAtBZmKZDAO9zf9CK9TzJE1OWvnwfcydvxPcTWyBp0NWSxgAyzhVrSyjDV0R0szN-_mmzSHuommDvJSlOHurEGPj9a55XZkc4hCQkkw3U433xTFfPIU22qwtv2ALZQ1zc8XN0' /></th>
              <figcaption class="title-caption text-center">{{b.name}}</figcaption>
              <p class="h3 p-3 text-secondary">{{b.description}}</p>
              <p class="h3 p-3 text-danger">{{b.recommendation}}</p>
              <th><button (click)="onSelected(b)">Ver Detalle</button></th>
            </figure>
          </div>
        </div>
      </div>
  </div>
</div>
